exclude: (^docs/_build/)|(^notebooks/)
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-ast
    - id: check-toml
    - id: debug-statements
    - id: no-commit-to-branch
      args: ['--branch', 'main']
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
    - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.990
    hooks:
    - id: mypy
      args: [--ignore-missing-imports]
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort
