/* colors */

h1, h2 {
    color: #324d70;    
}

/* buttons */

.button>p>a {
    box-shadow: 0px 4px 14px -7px #999999;
    background-color: white;
    border: 1px solid #bbbbbb;
    display: inline-block;
    cursor: pointer;
    color: #1066d6;
    /* font-weight: bold; */
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    font-size: 140%;
    margin: 2%;
    width: 40%;
}

.button>p>a:hover {
    border-color: #324d70;
    color: #324d70;
}

.button>p>a:active {
    position: relative;
    top: 1px;
}